{% extends 'base.html.twig' %}

{% block title %}Create a category{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('blog_index') }}">Back to homepage.</a>
{% endblock %}