{% extends 'base.html.twig' %}

{% block title %}Create a category{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-5 col-10 offset-1">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn btn-info">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        <a href="{{ path('blog_index') }}">Back to homepage.</a>
    </div>
</div>
{% endblock %}