{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    {% for category in categories %}
        <button><a href="{{ path('blog_show_category', { 'categoryName': category.name }) }} ">{{ category.name }}</a></button>
    {% endfor %}
    {# </br>
    </br>
    {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
    </br> #}
    </br>
    <button><a href="{{ path('category_create') }}">Create a category</a></button>
    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            <a href="{{ path('blog_show', { 'slug': article.title|replace({" ":"-"})|lower  }) }}">En savoir plus</a>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
      Back to homepage.
    </a>
{% endblock %}
