{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    {% for category in categories %}
        <button class="btn btn-info mt-2 mb-2"><a href="{{ path('blog_show_category', { 'categoryName': category.name }) }} " class=".text-white">{{ category.name }}</a></button>
    {% endfor %}
    </br>
    <button class="btn btn-secondary mt-2 mb-2"><a href="{{ path('category_create') }}">Create a category</a></button>
    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            <a href="{{ path('blog_show', { 'slug': article.title|replace({" ":"-"})|lower  }) }}">En savoir plus</a>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <button class="btn btn-secondary mt-2 mb-2"><a href="{{ path('app_index') }}">
      Back to homepage.
    </a></button>
{% endblock %}
