{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <form class="select-category mt-2 ml-3" id='myForm'>
        <label for="category-select">Select by category:</label>
        <select id="category-select">
        {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Search</button>
        <button class="btn btn-secondary mt-2 mb-2"><a href="{{ path('category_create') }}">Create a category</a></button>
    </form>
    <h1>All articles from <i>article</i> table : </h1>
    Page :
    {% if pages.actual >1 %}<button><a href="{{ path('blog_index', {'page': pages.actual-1 }) }}"> < </a></button>{% endif %}
    {{ pages.actual }}
    {% if pages.last > pages.actual %}<button><a href="{{ path('blog_index', {'page': pages.actual+1 }) }}">></a></button>{% endif %}
    {% for article in articles %}
        <div>
            <h2><small>({{ loop.index }})</small> [id: {{ article.id }}] / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            {# <a href="{{ path('blog_show', { 'slug': article.title|replace({" ":"-"})|lower  }) }}">En savoir plus</a> #}
            <a href="{{ path('blog_show', { 'slug': article.slug  }) }}">En savoir plus</a>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <button class="btn btn-secondary mt-2 mb-2"><a href="{{ path('app_index') }}">
      Back to homepage.
    </a></button>
{% endblock %}

{% block javascripts %}
<script>
document.getElementById('myForm').addEventListener("submit", (e) => {
    /* console.log(e.target); */
    e.preventDefault();
    route = "{{ path('blog_show_category', { 'categoryName': "PLACEHOLDER" }) }}";
    route = route.replace("PLACEHOLDER", document.getElementById('category-select').value);
    window.location = route;
})
</script>
{% endblock %}
