{% extends 'base.html.twig' %}

{% block title %}All articles from tag{% endblock %}

{% block body %}
    <h1>All articles from the {{ tagName }} tag: </h1>
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} / {{ article.title }} - Tag : {{ tagName }}</h2>
            <p>{{ article.content }}</p>
            <a href="{{ path('blog_show', { 'slug': article.title|replace({" ":"-"})|lower  }) }}">En savoir plus</a>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('blog_index') }}">
      Back to homepage.
    </a>
{% endblock %}